@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Circe";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #171717;
  background-color: #F5F5F5;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 140rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.2077294686vw;
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 4rem;
    width: 100%;
  }
}
.red-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
}
.red-btn--white {
  color: white;
}
.red-btn__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 1.2rem;
  border-radius: 100%;
  background-color: #DD1212;
  color: white;
}

@media (max-width: 48em) {
  .red-btn {
    font-size: 3.7rem;
    line-height: 7rem;
  }
  .red-btn__icon {
    width: 11rem;
    height: 11rem;
    margin-right: 2.4rem;
  }
}
.header {
  background-color: #fff;
}
.header.search-open:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5;
}
.header.search-open .header__menu,
.header.search-open .header__callback,
.header.search-open .header__cart,
.header.search-open .header__burger {
  display: none;
}
.header.search-open .header__search-close,
.header.search-open .header__search-output-bg {
  display: block;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10.9rem;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: relative;
  z-index: 3;
  width: 6.1rem;
  height: 6.8rem;
  mix-blend-mode: exclusion;
}
.header__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__menu {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-item {
  margin-right: 3rem;
  font-size: 2rem;
  line-height: 2.95rem;
  white-space: nowrap;
}
.header__menu-item:nth-last-child(2) {
  margin-right: 0;
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.5rem;
  height: 3rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header__search.open {
  position: relative;
  z-index: 3;
  width: 98rem;
  height: 6rem;
  padding: 0 3rem;
  background-color: #fff;
}
.header__search.open .header__search-input {
  width: 100%;
}
.header__search-icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 1.5rem;
  margin-top: -2px;
}
.header__search-icon path {
  fill: #171717;
  stroke: #171717;
}
.header__search-input {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  line-height: 2.95rem;
}
.header__search-close {
  position: relative;
  z-index: 3;
  display: none;
  width: 4.4rem;
  height: 4.4rem;
  margin-left: -5rem;
  cursor: pointer;
}
.header__search-close path {
  stroke: #DD1212;
}
.header__search-output-bg {
  position: absolute;
  left: 39rem;
  top: 11rem;
  z-index: 3;
  display: none;
  width: 98rem;
  max-height: 46rem;
  padding: 3rem 1rem 3rem 3rem;
  background-color: #fff;
  overflow: hidden;
}
.header__search-output {
  width: 94rem;
  height: 40rem;
  padding-right: 6rem;
  overflow-y: scroll;
}
.header__search-output::-webkit-scrollbar {
  width: 3px;
}
.header__search-output::-webkit-scrollbar-track {
  background-color: #E9E9E9;
  border-radius: 4px;
}
.header__search-output::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #DD1212;
}
.header__search-output-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search-output-item:nth-child(n+2) {
  margin-top: 2.5rem;
}
.header__search-output-img-box {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 6rem;
  height: 6rem;
  margin-right: 2.5rem;
}
.header__search-output-img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__search-output-text-block {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.header__search-output-name {
  font-size: 1.9rem;
  line-height: 2.8rem;
}
.header__search-output-catalog-name {
  font-size: 1.5rem;
  line-height: 2.7rem;
}
.header__search-output-catalog-name:before {
  content: "Каталог: ";
  color: #99A2B5;
}
.header__search-output-price {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.95rem;
}
.header__search-output-price:after {
  content: "₽";
  margin-left: 0.3rem;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
.header__callback {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  white-space: nowrap;
}
.header__callback--red {
  margin-left: 0.5rem;
  color: #DD1212;
}
.header__phone {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  white-space: nowrap;
}
.header__phone-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-top: -2px;
}
.header__phone-icon path {
  fill: #DD1212;
}
.header__cart {
  position: relative;
}
.header__cart-icon {
  width: 2.7rem;
  height: 2.7rem;
}
.header__cart-icon path {
  fill: #171717;
}
.header__cart-number {
  position: absolute;
  right: -0.8rem;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #DD1212;
  font-size: 1.2rem;
  line-height: 1.77rem;
  color: #fff;
}

@media (max-width: 48em) {
  .header {
    position: relative;
  }
  .header.search-open:before {
    position: fixed;
    background-color: #fff;
  }
  .header.search-open .header__phone {
    display: none;
  }
  .header__container {
    min-height: 16.8rem;
  }
  .header__logo {
    width: 8.6rem;
    height: 9.6rem;
  }
  .header__menu {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    width: 100vw;
    min-height: 100vh;
    padding: 23rem 4rem 0 4rem;
    background-color: #fff;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header__menu.open {
    left: 0;
  }
  .header__menu-item {
    margin-right: 0;
    font-size: 4.4rem;
    line-height: 6.5rem;
  }
  .header__menu-item:nth-child(n+2) {
    margin-top: 4.4rem;
  }
  .header__contacts-mob {
    position: relative;
    margin-top: 20rem;
  }
  .header__contacts-mob:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -4rem;
    top: -10rem;
    display: block;
    width: 100vw;
    min-height: 55vh;
    background-color: #F5F5F5;
  }
  .header__contacts-mob .header__phone-icon {
    margin-right: 2rem;
    margin-top: -2px;
  }
  .header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24rem;
    height: 5.4rem;
  }
  .header__search.open {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: auto;
    height: auto;
  }
  .header__search-icon {
    width: 4.4rem;
    height: 4.4rem;
    margin-right: 2.4rem;
    margin-top: -2px;
  }
  .header__search-input {
    font-size: 3.6rem;
    line-height: 5.3rem;
  }
  .header__search-close {
    width: 5rem;
    height: 5rem;
    margin-left: 0;
    margin-top: -0.5rem;
  }
  .header__search-close path {
    stroke: #171717;
  }
  .header__search-output-bg {
    left: 22rem;
    top: 16rem;
    width: 52rem;
    max-height: none;
    padding: 0;
    background-color: #fff;
    overflow: visible;
  }
  .header__search-output {
    width: 100%;
    height: auto;
    padding-right: 0;
    overflow-y: scroll;
  }
  .header__search-output::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .header__search-output-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__search-output-item:nth-child(n+2) {
    margin-top: 3rem;
  }
  .header__search-output-img-box {
    display: none;
  }
  .header__search-output-name {
    font-size: 3.6rem;
    line-height: 5.3rem;
  }
  .header__search-output-catalog-name {
    display: none;
  }
  .header__search-output-price {
    display: none;
  }
  .header__callback {
    margin-bottom: 5rem;
    font-size: 4rem;
    line-height: 4rem;
  }
  .header__phone {
    z-index: 1;
    font-size: 4rem;
    line-height: 4rem;
  }
  .header__phone-icon {
    width: 4rem;
    height: 4rem;
    margin: 0;
  }
  .header__cart {
    margin-left: -1rem;
  }
  .header__cart-icon {
    width: 5.4rem;
    height: 5.4rem;
  }
  .header__cart-number {
    right: -1.6rem;
    width: 4rem;
    height: 4rem;
    font-size: 2.4rem;
    line-height: 2.55rem;
  }
  .header__burger {
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 4.8rem;
    height: 4rem;
    cursor: pointer;
  }
  .header__burger > div {
    width: 100%;
    height: 2px;
    opacity: 1;
    background-color: #171717;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header__burger:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #171717;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header__burger:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #171717;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header__burger.open > div {
    opacity: 0;
  }
  .header__burger.open:before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger.open:after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 24.9rem;
}
@media (max-width: 48em) {
  body {
    padding-bottom: 150rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.footer__content:nth-child(1) {
  min-height: 16.4rem;
}
.footer__content:nth-child(2) {
  min-height: 8.5rem;
  border-top: 1px solid #D1D8E4;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  width: 7.8rem;
  height: 8.7rem;
  mix-blend-mode: exclusion;
}
.footer__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__menu-item {
  font-size: 2rem;
  line-height: 2.95rem;
  white-space: nowrap;
}
.footer__menu-item:nth-child(n+2) {
  margin-left: 3rem;
}
.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
}
.footer__btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 1.2rem;
  border-radius: 100%;
  background-color: #DD1212;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 3.5rem;
  color: white;
}
.footer__req-logo {
  width: 25.7rem;
  height: 2.9rem;
}
.footer__req-logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 48em) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
  .footer__content:nth-child(1) {
    min-height: 101.6rem;
  }
  .footer__content:nth-child(2) {
    min-height: 48.4rem;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .footer__logo {
    width: 12.2rem;
    height: 13.6rem;
    margin-bottom: 8rem;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8rem;
  }
  .footer__menu-item {
    font-size: 4rem;
    line-height: 5.9rem;
  }
  .footer__menu-item:nth-child(n+2) {
    margin-left: 0;
    margin-top: 4rem;
  }
  .footer__btn {
    font-size: 3.2rem;
    line-height: 6rem;
  }
  .footer__btn-icon {
    width: 11rem;
    height: 11rem;
    margin-right: 2.4rem;
    margin-top: -2px;
    font-size: 3.7rem;
    line-height: 7rem;
  }
  .footer__link {
    margin-bottom: 4rem;
  }
  .footer__copyright {
    margin-bottom: 6rem;
  }
  .footer__req-logo {
    width: 21.6rem;
    height: 14.8rem;
  }
}
.main-intro {
  position: relative;
  width: 100%;
  height: 85.1rem;
  margin-bottom: 18rem;
}
.main-intro__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.main-intro__bg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-intro__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.main-intro__slide-btn {
  margin-bottom: 3.5rem;
}
.main-intro__slide-title {
  width: 73rem;
  font-weight: bold;
  font-size: 6rem;
  line-height: 6.5rem;
  color: white;
}
.main-intro__nav-block {
  position: absolute;
  left: 26rem;
  bottom: 5rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-intro__scrollbar {
  position: relative;
  z-index: 1;
  width: 13.2rem;
  height: 3px;
  margin: 0 1.1rem;
  border-radius: 4px;
  background-color: white;
}
.main-intro__scrollbar .swiper-scrollbar-drag {
  background: #DD1212;
}
.main-intro__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin-right: 1.5rem;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  color: white;
}
.main-intro__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  background-color: white;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  cursor: pointer;
}
.main-intro__arrow--left {
  margin-right: 1.1rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main-intro__links-block {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 68.7rem;
  padding: 9rem 3rem 7rem 7rem;
  background-color: white;
}
.main-intro__links-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}
.main-intro__links-title {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  position: relative;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0.02em;
}
.main-intro__links-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  width: 4.5rem;
  height: 2px;
  background-color: #8A8A8A;
}
.main-intro__links-catalog {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
}
.main-intro__links-catalog > span {
  margin-left: 0.8rem;
}
.main-intro__list {
  list-style-position: inside;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.main-intro__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 3.3rem;
}
.main-intro__list-item-num {
  margin-right: 1rem;
  margin-top: 2px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #DD1212;
}

@media (max-width: 48em) {
  .main-intro {
    height: auto;
    margin-bottom: 20rem;
  }
  .main-intro__slide {
    min-height: 110rem;
    padding-bottom: 16rem;
  }
  .main-intro__slide-btn {
    margin-bottom: 3.5rem;
  }
  .main-intro__slide-title {
    width: 100%;
    font-size: 3.4rem;
    line-height: 8rem;
  }
  .main-intro__nav-block {
    position: relative;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -15rem;
    margin-bottom: 6rem;
  }
  .main-intro__scrollbar {
    width: 26.4rem;
    margin: 0 2.2rem;
  }
  .main-intro__pagination {
    margin-right: 3rem;
    font-size: 3.2rem;
  }
  .main-intro__arrow {
    width: 9rem;
    height: 9rem;
    font-size: 3.2rem;
  }
  .main-intro__arrow--left {
    margin-right: 2.2rem;
  }
  .main-intro__links-block {
    position: static;
    width: 100%;
    padding: 7rem 4rem;
  }
  .main-intro__links-title-block {
    margin-bottom: 10rem;
  }
  .main-intro__links-title {
    font-size: 3.6rem;
    line-height: 6.4rem;
  }
  .main-intro__links-title:after {
    bottom: -2rem;
    width: 9rem;
  }
  .main-intro__links-catalog {
    font-size: 3.2rem;
    line-height: 6rem;
  }
  .main-intro__links-catalog > span {
    margin-left: 1.6rem;
  }
  .main-intro__list-item {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }
  .main-intro__list-item-num {
    margin-right: 2rem;
    margin-top: -2px;
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
}
.equipment {
  margin-bottom: 18rem;
}
.equipment__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.equipment__cards {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85.6rem;
}
.equipment__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41rem;
  min-height: 16.8rem;
  height: auto;
  background-color: #fff;
}
@media (min-width: 48.01em) {
  .equipment__item:nth-child(4n), .equipment__item:nth-child(4n+1) {
    background-color: #E9E9E9;
  }
}
.equipment__item:nth-child(n+3) {
  margin-top: 4rem;
}
.equipment__item-text-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 21rem;
  margin: 3rem 0 3rem 2.5rem;
}
.equipment__item-title {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  line-height: 2.95rem;
}
.equipment__item-link {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.9rem;
}
.equipment__item-img-box {
  width: 100%;
  height: 100%;
}
.equipment__item-img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
.equipment__text-block {
  width: 42rem;
}
.equipment__title {
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 4.3rem;
  line-height: 5.5rem;
}
@media (max-width: 48em) {
  .equipment__title {
    font-size: 6.8rem;
    line-height: 11rem;
  }
}
.equipment__description {
  margin-bottom: 5rem;
  font-weight: 350;
  font-size: 1.8rem;
  line-height: 2.65rem;
}
@media (max-width: 48em) {
  .equipment {
    margin-bottom: 20rem;
  }
  .equipment__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .equipment__cards {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .equipment__item {
    width: 100%;
    min-height: 30.8rem;
    height: auto;
    background-color: #fff;
  }
  .equipment__item:nth-child(odd) {
    background-color: #E9E9E9;
  }
  .equipment__item:nth-child(n+2) {
    margin-top: 3rem;
  }
  .equipment__item-text-block {
    width: 38rem;
    margin: 6rem 0 6rem 5rem;
  }
  .equipment__item-title {
    margin-bottom: 5rem;
    font-size: 3.6rem;
    line-height: 5.3rem;
  }
  .equipment__item-link {
    font-size: 2.8rem;
    line-height: 4.1rem;
  }
  .equipment__text-block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-bottom: 8rem;
  }
  .equipment__text-block br {
    display: none;
  }
  .equipment__description {
    font-size: 3.4rem;
    line-height: 5rem;
  }
}
.desc-company {
  margin-bottom: 18rem;
}
.desc-company__title {
  width: 75rem;
  margin-bottom: 7rem;
  font-weight: bold;
  font-size: 4.3rem;
  line-height: 5.5rem;
  font-weight: 350;
}
@media (max-width: 48em) {
  .desc-company__title {
    font-size: 6.8rem;
    line-height: 11rem;
  }
}
.desc-company__title--bold {
  font-weight: bold;
}
.desc-company__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.desc-company__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 44rem;
  min-height: 38.3rem;
  padding: 5rem 4rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.03)), to(rgba(0, 0, 0, 0.03))), conic-gradient(from 38.13deg at 76.38% 28.46%, #E2E2E2 0deg, #EBEBEB 45.68deg, #ECECEC 52.84deg, #ECECEC 155.62deg, #EDEDED 187.5deg, #F2F2F2 223.13deg, #F2F2F2 253.13deg, #F7F7F7 286.87deg, #FBFAFA 359.86deg, #E2E2E2 360deg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)), conic-gradient(from 38.13deg at 76.38% 28.46%, #E2E2E2 0deg, #EBEBEB 45.68deg, #ECECEC 52.84deg, #ECECEC 155.62deg, #EDEDED 187.5deg, #F2F2F2 223.13deg, #F2F2F2 253.13deg, #F7F7F7 286.87deg, #FBFAFA 359.86deg, #E2E2E2 360deg);
}
.desc-company__item:nth-child(n+4) {
  margin-top: 3rem;
}
.desc-company__item-icon {
  width: 4.4rem;
  height: 4.4rem;
}
.desc-company__item-icon path {
  fill: #DD1212;
}
.desc-company__item-title {
  margin-bottom: 2.2rem;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 2.65rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.desc-company__item-description {
  font-size: 1.8rem;
  line-height: 2.65rem;
}

@media (max-width: 48em) {
  .desc-company {
    margin-bottom: 20rem;
  }
  .desc-company__title {
    width: 100%;
    margin-bottom: 6rem;
    line-height: 8.4rem;
  }
  .desc-company__item {
    width: 100%;
    min-height: 59.4rem;
    padding: 8rem 5rem;
  }
  .desc-company__item:nth-child(n+2) {
    margin-top: 3rem;
  }
  .desc-company__item-icon {
    width: 7.4rem;
    height: 7.4rem;
  }
  .desc-company__item-title {
    margin-bottom: 3.4rem;
    font-size: 3.2rem;
    line-height: 4.7rem;
  }
  .desc-company__item-description {
    font-weight: 350;
    font-size: 3.4rem;
    line-height: 5rem;
  }
}
body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}