// $peremenaya: znachenie;

// @mixin name {
//  css here
// }

$default-color: #171717;
$red: #DD1212;
$gray: #8A8A8A;

@mixin title-font {
  font-weight: bold;
  font-size: 4.3rem;
  line-height: 5.5rem;

  @media (max-width: 48em) {
    font-size: 6.8rem;
    line-height: 11rem;
  }
}