@import "set";
@import "components";

@import "header";
@import "footer";
@import "modal";

@import "main/main-intro";
@import "main/equipment";
@import "main/desc-company";
@import "main/completed";
@import "main/partners";
@import "main/feedback";
@import "main/contacts";

@import "catalog/catalog-title";
@import "catalog/catalog";

@import "list-products/list-category";
@import "list-products/list-products";
@import "list-products/parts";




body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}