@import "../param";

// Стилизация карты в черно-белую
[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}

.contacts {
  margin-bottom: 18rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__address-block {
    margin-right: auto;
  }

  &__phone-block {
    margin-right: 15rem;
  }

  &__email-block {
  }

  &__info-name {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: $gray;
  }

  &__city-name {
    margin-bottom: 1rem;
    @include title-font;
  }

  &__address {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.95rem;
  }

  &__address-link {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 3rem;
    color: $red;

    > span {
      margin-left: 1rem;
    }
  }

  &__info-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 53rem;
  }

  &__info-title-text {
    font-weight: bold;
    font-size: 2.3rem;
    line-height: 3.4rem;
  }

  &__info-text {
    font-weight: 350;
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  &__work-time-block {
    margin-top: 4rem;
  }

  &__map {
    width: 100%;
    height: 62.1rem;
    margin-top: 6rem;
  }
}

@media (max-width: 48em) {
  .contacts {
    margin-bottom: 20rem;

    &__container {
    }

    &__address-block {
      order: 1;
      width: 100%;
      margin-bottom: 4rem;
    }

    &__phone-block {
      width: 100%;
      margin-right: 0;
      margin-bottom: 6rem;
    }

    &__email-block {
      width: 100%;
      margin-bottom: 6rem;
    }

    &__work-time-block {
      width: 100%;
      margin-top: 0;
    }

    &__info-name {
      font-size: 3rem;
      line-height: 3.8rem;
    }

    &__city-name {
    }

    &__address {
      margin-bottom: 3rem;
      font-size: 3.6rem;
      line-height: 5.3rem;
    }

    &__address-link {
      font-size: 3.6rem;
      line-height: 6rem;
    }

    &__info-content {
      order: 3;
    }

    &__info-title-text {
      font-size: 4.6rem;
      line-height: 6.8rem;
    }

    &__info-text {
      font-size: 3rem;
      line-height: 3.8rem;
    }

    &__map {
      order: 2;
      height: 83.6rem;
      margin-top: 0;
      margin-bottom: 6rem;
    }
  }
}