@import "../param";

.parts {
  margin-bottom: 18rem;
  height: fit-content;

  &__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
  }

  &__title {
    @include title-font;
  }

  &__btn {
  }

  &__cards {
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 2.5rem 3rem;
    background-color: #fff;

    &:nth-child(even) {
      background-color: #ECECEC;
    }
  }

  &__info-block {
    flex: auto;
    display: flex;
    flex-direction: column;
  }

  &__category {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $gray;
  }

  &__name {
    flex: auto;
    height: 8rem;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.35rem;
  }

  &__img-box {
    width: 20rem;
    height: 20rem;
    margin: 0 auto 2.5rem auto;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__item-number {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    &:after {
      content: 'Цена';
      display: block;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2rem;
      color: $gray;
    }

    > div {
      display: flex;
      align-items: flex-start;
      font-weight: bold;
      font-size: 2.8rem;
      line-height: 4.1rem;

      &:after {
        content: '₽';
        margin-left: 0.5rem;
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 1.9rem;
      }
    }
  }

  &__order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.4rem;
    height: 5.4rem;
    background-color: $red;

    > svg {
      width: 3.1rem;
      height: 3.1rem;

      path {
        fill: white;
      }
    }
  }
}

@media (max-width: 48em) {
  .parts {
    margin-bottom: 18rem;

    &__title-block {
      display: block;
    }

    &__title {
      margin-bottom: 5rem;
    }

    &__btn {
    }

    &__cards {
      margin-right: -4rem;
      margin-bottom: 6rem;
    }

    &__item {
      padding: 3rem 5rem;
    }

    &__info-block {
    }

    &__category {
      margin-bottom: 0.6rem;
      font-size: 2.6rem;
      line-height: 3.8rem;
    }

    &__name {
      height: auto;
      margin-bottom: 2rem;
      font-size: 3.4rem;
      line-height: 5rem;
    }

    &__img-box {
      margin: 0 auto 3rem auto;
    }

    &__item-number {
      margin-bottom: 3rem;
      font-size: 2.4rem;
      line-height: 3.5rem;
    }

    &__price-block {
    }

    &__price {
      &:after {
        font-size: 2.6rem;
        line-height: 4rem;
      }

      > div {
        font-size: 3.6rem;
        line-height: 5rem;

        &:after {
          margin-left: 1rem;
          font-size: 2.4rem;
          line-height: 2.9rem;
        }
      }
    }

    &__order {
      width: 9rem;
      height: 9rem;

      > svg {
        width: 5.4rem;
        height: 5.4rem;
      }
    }

    &__nav-block {
      display: flex;
      align-items: center;
    }

    &__scrollbar {
      width: 26.4rem;
      height: 3px;
      margin: 0 2.2rem;
      border-radius: 4px;
      background-color: #ddd;

      .swiper-scrollbar-drag {
        background: $red;
      }
    }

    &__pagination {
      display: flex;
      align-items: center;
      width: auto;
      margin-right: 3rem;

      font-weight: bold;
      font-size: 3.2rem;
      line-height: 6rem;
    }

    &__arrow-block {
      display: flex;
      align-items: center;
    }

    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 9rem;
      height: 9rem;
      border-radius: 100%;
      background-color: $red;

      font-weight: bold;
      font-size: 3.2rem;
      line-height: 6rem;
      color: white;
      cursor: pointer;
      user-select: none;

      &--left {
        margin-right: 2.2rem;
        margin-left: auto;
        transform: rotate(180deg);
      }

      &--right {
      }
    }
  }
}